/* Fonts */

@font-face {
	font-family: Ubuntu;
	src:url(../fonts/ubuntu.ttf);
}

/* Main CSS */

body {
	font-family: 'Ubuntu', sans-serif;
}

.main {
	text-align: center;
	padding-top: 20px;
}

.card-columns {
	column-count: 4;
}

@media (max-width: 992px) {

	.card-columns {
		column-count: 2;
	}
}

footer {
	text-align: center;
	padding-top: 30px;
}

.footer {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel-inner img {
  margin: auto;
}