{% if page.title != "Not Supported" %} 
  {% if page.title != "We're updating" %}
		{% if site.test == true %}
			<div class="alert alert-warning" role="alert">
				<span class="fa fa-info-circle fa-3x fa-pull-left"></span>  <b>We're testing!</b> We are testing our website right now and things might not work as expected. If you notice something broken or not working as expected please email <a href="mailto:helpdesk@michaelbateman.ca" style="color: inherit">helpdesk@michaelbateman.ca</a> with a detailed description of the issue. Thanks!
			</div>
		{% endif %}
	{% endif %}
{% endif %}